<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Productos</title>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>

<body>
<div class="container-fluid">

    <h3 class="display-3">Actualizar producto</h3>

    <form th:action="@{/productos/{id}(id=${producto.id})}" th:object="${producto}" th:method="put">
        <div class="row">
            <div class="col mb-3">
                <label><strong>Id</strong></label>
                <label for="id" th:text="${producto.id}" />
            </div>
        </div>
        <div class="row">
            <div class="col mb-3">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre" placeholder="Nombre" value=""
                       th:field="*{nombre}" />
                <small th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Error en nombre</small>
            </div>

            <div class="col mb-3">
                <label for="marca">Marca</label>
                <input type="text" class="form-control" id="marca" placeholder="Marca" value=""
                       th:field="*{marca}" />
                <small th:if="${#fields.hasErrors('marca')}" th:errors="*{marca}">Error en marca</small>
            </div>
            <div class="col mb-3">
                <label for="descripcion">Descripcion</label>
                <input type="text" class="form-control" id="descripcion" placeholder="Descripcion" value=""
                       th:field="*{descripcion}" />
                <small th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}">Error en descripcion</small>
            </div>
            <div class="col mb-3">
                <label for="precio">Precio</label>
                <input type="text" class="form-control" id="precio" placeholder="Precio" value=""
                       th:field="*{precio}" />
                <small th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}">Error en precio</small>
            </div>

            <div class="col mb-3">
                <label for="cantidad">Cantidad</label>
                <input type="text" class="form-control" id="cantidad" placeholder="Cantidad" value=""
                       th:field="*{cantidad}" />
                <small th:if="${#fields.hasErrors('cantidad')}" th:errors="*{cantidad}">Error en Cantidad</small>
            </div>

            <!--<div class="col mb-3">
                <label for="categoria">Categoria</label>
                <input type="text" class="form-control" id="categoria" placeholder="Categoria" value=""
                       th:field="*{categoria}" />
                <small th:if="${#fields.hasErrors('categoria')}" th:errors="*{categoria}">Error en idcateg</small>
            </div>-->

            <div class="col mb-3">
                <label>Categoria</label>
                <select class="form-select" id="categoria" th:field="*{categoria}">
                    <option value="">Seleccionar categoria...</option>
                    <option th:each="categoria : ${categorias}" th:value="${categoria.id}" th:text="|${categoria.id} ${categoria.nombre}|"></option>
                </select>
                <small th:if="${#fields.hasErrors('categoria')}" th:errors="*{categoria}">Error en categoria</small>
            </div>






            <div class="col mb-3">
                <label for="estado">Estado</label>
                <input type="text" class="form-control" id="estado" placeholder="estado" value="" th:field="*{estado}"/>
                <small th:if="${#fields.hasErrors('estado')}" th:errors="*{estado}">Error en estado</small>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Guardar</button>
    </form>
    <p></p>
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item"><a href="/productos">Productos</a></li>
        <li class="list-group-item"><a href="/">Inicio</a></li>
    </ul>
</div>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>