<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Categorias</title>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>

<body>
<div class="container-fluid">

    <h3 class="display-3">Actualizar categoria</h3>

    <form th:action="@{/categorias/{id}(id=${categoria.id})}" th:object="${categoria}" th:method="put">
        <div class="row">
            <div class="col mb-3">
                <label><strong>Id</strong></label>
                <label for="id" th:text="${categoria.id}" />
            </div>
        </div>
        <div class="row">
            <div class="col mb-3">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre" placeholder="Nombre" value=""
                       th:field="*{nombre}" />
                <small th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Error en nombre</small>
            </div>
            <div class="col mb-3">
                <label for="estado">Estado</label>
                <input type="text" class="form-control" id="estado" placeholder="estado" value="" th:field="*{estado}"/>
                <small th:if="${#fields.hasErrors('estado')}" th:errors="*{estado}">Error en apellidos</small>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Guardar</button>
    </form>
    <p></p>
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item"><a href="/categorias">Categorias</a></li>
        <li class="list-group-item"><a href="/">Inicio</a></li>
    </ul>
</div>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>